@page "/"
@rendermode InteractiveServer
@using BupaMOTApp.Services  
@inject MOTService MOTService


<h3 class="custom-heading">
    Vehicle MOT Details
</h3>


<div class="d-flex justify-content-center align-items-center">
    <div class="card p-3 mb-3" style="max-width: 400px; width: 100%;">
        <h3 class="card-title text-center mb-3">Enter Vehicle Details</h3>
        <div class="card-body ">
            <label for="registration">Enter Registration Number:</label>
            <input id="registration" @bind="registrationNumber" type="text" class="form-control mb-3" />
            <button @onclick="GetMOTDetails" class="btn btn-primary w-100">Get MOT Details</button>
        </div>
    </div>
</div>



@if (vehicleMOT != null)
{
    <div class="card card-custom">
        <div class="card-header">
            <h5 class="card-title">Vehicle Information</h5>
        </div>
        <div class="card-body">
            <p><strong>Make:</strong> @vehicleMOT.Make</p>
            <p><strong>Model:</strong> @vehicleMOT.Model</p>
            <p><strong>Colour:</strong> @vehicleMOT.PrimaryColour</p>
            <p><strong>MOT Expiry Date:</strong> @vehicleMOT.MostRecentExpiryDate</p>
            <p><strong>Mileage at Last MOT:</strong> @vehicleMOT.MostRecentMileage</p>
        </div>
    </div>
}

@code {
     private string registrationNumber = string.Empty;  
    private VehicleMOT? vehicleMOT = null;  

    private async Task GetMOTDetails()
    {
        //Console.WriteLine("**DEBUG** Entering GetMOTDetails method");
        if (!string.IsNullOrEmpty(registrationNumber))
        {
            vehicleMOT = await MOTService.GetMOTDetailsAsync(registrationNumber);
        //Console.WriteLine($"MOT details fetched: {vehicleMOT?.Make}");
        }
        else
        {
            Console.WriteLine("Registration number is empty!");
        }
    }
}
